
.left-category-menu-area{
    position:relative;
    z-index:105;
    width: 300px;
}
.left-category-menu-area h3{
    background-color: #752275;
    font-size: 14px;
    font-weight: 600;
    line-height: 45.3px;
    padding-left: 50px;
    position: relative;
    text-transform: uppercase;
    cursor:pointer;
    top:.3px;
    color: #ffffff;
    font-family: Arial;
}
.left-category-menu-area h3:before{
    content:"\f0c9";
    font-family: fontawesome;
    font-size: 15px;
    left: 18px;
    position: absolute;
}
.left-category-menu{
    position:absolute;
    width:100%;
    top:46px;
    display: none;
    margin: 0;
}
.left-category-menu ul{
    background-color: #f1f0f0;
    margin: 0;
    list-style: none;
    padding: 0;
}
.left-category-menu ul li{
    padding:8px 15px;
    position: relative;
    border-bottom:1px solid #752275;
    color: #737373;
    position:relative;

}
.left-category-menu ul li a{
    color: #752275;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    font-family: Arial;
}
.left-category-menu ul li a img{
    display: inline-block;
    vertical-align: middle;
    max-height: 30px;
    margin-right: 15px;
}
.left-category-menu> ul> li:hover> a{
    color:#fff;
}
.left-category-menu ul li p{
    margin:0;
    margin-top: 4px;
    font-size: 12px;
    line-height:17px;
}
.left-category-menu ul li p a{
    font-weight: normal;
    color: #474747;
}